@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1F2432;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background-color: #0069B4;
  font-size: 18px;
  font-weight: 600;
  height: 54px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Lato";
}
.btn--white {
  background-color: #ffffff;
  color: #0069B4;
  border: 1px solid #0069B4;
}
.btn--white:hover {
  background: #378ecc;
  border-color: #378ecc;
  color: #ffffff;
}

.card {
  background: #F6F8FA;
  border-radius: 5px;
  padding: 25px;
}
.card__header {
  display: flex;
  justify-content: center;
}
.card__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10px;
}
.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 59px;
  min-height: 60px;
}
.card__price {
  margin-bottom: 20px;
}
.card__btn {
  height: 52px;
  margin-bottom: 10px;
}
.card__btn:hover {
  background: #378ecc;
}
.card__btn--add {
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
}
.header__navbar {
  min-height: 95px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 31px;
}
.header__breadcrumb {
  margin-bottom: 60px;
}

.nav-basket {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-basket__info {
  font-size: 12px;
  line-height: 17px;
}
.nav-basket__icon {
  width: 28px;
  height: 25px;
  margin-right: 12px;
}
.nav-basket__title {
  font-size: 14px;
  line-height: 21px;
}
.nav-basket__qty {
  color: #797B86;
}

.breadcrumb {
  display: flex;
  align-items: center;
}
.breadcrumb__item {
  font-size: 14px;
  font-weight: 400;
  margin-right: 25px;
  position: relative;
  line-height: 21px;
  color: #33374E;
}
.breadcrumb__item::before {
  content: "";
  display: block;
  width: 5px;
  height: 8px;
  position: absolute;
  left: -14px;
  top: 8px;
  background: url(../images/right.png) no-repeat center/cover;
}
.breadcrumb__item:first-child::before {
  display: none;
}
.breadcrumb__item:last-child {
  color: #797B86;
}

.main__inner-basket {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 1090px) {
  .main__inner-basket {
    flex-direction: column;
  }
}
.main__basket {
  flex: 1;
  margin-right: 55px;
}
@media screen and (max-width: 1090px) {
  .main__basket {
    margin-right: 0;
  }
}
.main__coupon {
  flex: 0 0 425px;
  padding-top: 90px;
}
@media screen and (max-width: 1090px) {
  .main__coupon {
    padding-top: 0;
    margin-bottom: 70px;
  }
}
.main__slider-inner {
  margin-left: -10px;
  margin-right: -10px;
}
.main__slider-inner .slick-arrow {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border: none;
  color: transparent;
  position: absolute;
  z-index: 100;
  cursor: pointer;
}
@media screen and (max-width: 540px) {
  .main__slider-inner .slick-arrow {
    height: 35px;
    width: 35px;
  }
}
.main__slider-inner .slick-prev {
  background: url(../images/prev3x.png) no-repeat center/cover;
  right: 124px;
  top: -100px;
}
@media screen and (max-width: 540px) {
  .main__slider-inner .slick-prev {
    top: 30%;
    left: 0;
  }
}
.main__slider-inner .slick-next {
  background: url(../images/next3x.png) no-repeat center/cover;
  right: 10px;
  top: -100px;
}
@media screen and (max-width: 540px) {
  .main__slider-inner .slick-next {
    top: 30%;
    right: 0;
  }
}
.main__slider-item {
  margin-left: 10px;
  margin-right: 10px;
}
.main__slider-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 60px;
}
@media screen and (max-width: 500px) {
  .main__slider-title {
    flex-direction: column;
  }
}
.main__slider-index {
  padding-right: 65px;
  font-weight: 500;
  font-size: 24px;
  color: #212121;
  position: relative;
  top: 7px;
}
.main__slider-length {
  color: #797B86;
  font-size: 16px;
  font-weight: 400;
}

.basket__header {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  color: #797B86;
  align-items: flex-end;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .basket__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.basket__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  color: #1F2432;
  margin-right: 22px;
}
@media screen and (max-width: 375px) {
  .basket__title {
    font-size: 34px;
  }
}
.basket__qty {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
.basket__clean-cart {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-left: auto;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid #C4C4C4;
}
@media screen and (max-width: 560px) {
  .basket__clean-cart {
    margin-left: 0;
  }
}
.basket__footer {
  display: flex;
  align-items: center;
  background: #F6F8FA;
  border-radius: 5px;
  padding: 28px 25px;
  margin-bottom: 96px;
}
.basket__input {
  display: none;
}
.basket__input:checked ~ label {
  background: url(../images/mark.png) no-repeat center/cover;
}
.basket__input-label {
  height: 20px;
  flex: 0 0 20px;
  border: 1px solid #797B86;
  background-color: #ffffff;
  border-radius: 2px;
  margin-right: 20px;
}
.basket__wrap-icon {
  flex: 0 0 50px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.basket__icon {
  width: 30px;
  height: 30px;
}
.basket__info-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 2px;
}
.basket__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #797B86;
}

.in-basket__card {
  display: flex;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 20px;
  margin-bottom: 30px;
  position: relative;
}
.in-basket__card:last-child {
  border: none;
}
.in-basket__img {
  height: 100px;
  width: 100px;
  margin-right: 31px;
}
@media screen and (max-width: 425px) {
  .in-basket__img {
    margin-right: 5px;
  }
}
.in-basket__body {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .in-basket__body {
    flex-direction: column;
    align-items: flex-start;
  }
}
.in-basket__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 6px;
}
.in-basket__description {
  max-width: 263px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #2C3242;
  margin-bottom: 7px;
}
.in-basket__shu {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #797B86;
}
.in-basket__buttons {
  margin-left: 80px;
  margin-right: 70px;
  position: relative;
}
@media screen and (max-width: 650px) {
  .in-basket__buttons {
    margin: 12px 0 24px;
  }
}
.in-basket__btn-group {
  display: flex;
}
.in-basket__btn {
  width: 32px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F8FA;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 4px;
}
.in-basket__btn--action {
  cursor: pointer;
}
.in-basket__btn--add {
  color: #000000;
  margin-left: 0;
}
.in-basket__btn--count {
  flex: 1;
  margin: 0 5px;
}
@media screen and (max-width: 650px) {
  .in-basket__btn {
    margin-left: 0;
    margin-right: 4px;
  }
}
.in-basket__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
}
.in-basket__unit-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #1F2432;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -22px;
}
.in-basket__close-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
.in-basket__close-icon {
  width: 12px;
  height: 12px;
}

.coupon__inner {
  background: #F6F8FA;
  border-radius: 5px;
  padding: 35px 30px;
}
.coupon__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 31px;
}
.coupon__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 18px;
}
.coupon__row--subtitle {
  border-top: 1px solid #AEB0B6;
  padding-top: 16px;
  margin-top: 13px;
  margin-bottom: 32px;
}
.coupon__text {
  font-weight: 500;
  line-height: 23px;
}
.coupon__text--total {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
.coupon__value {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 23px;
}
.coupon__value--total {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
}
.coupon__btn {
  margin-top: 12px;
}
.coupon__btn:hover {
  background: #378ecc;
}/*# sourceMappingURL=styles.css.map */