@import '../fonts/stylesheet.css';
@import './reset.css';
@import './variables.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
    color: $main_color;
}

//COMPONENTS
.btn {
	position: relative;
	z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background-color:#0069B4;
    font-size: 18px;
    font-weight: 600;
	height: 54px;
    border-radius: 4px;
	border: none;
    cursor: pointer;
	font-family: 'Lato';
	&--white {
		background-color: #ffffff;
		color: #0069B4;
		border: 1px solid #0069B4;
		&:hover {
			background: #378ecc;
			border-color: #378ecc;
			color: #ffffff;
			
		}
	}
}

.card {
	// position: relative;
	// z-index: 9999;

	background: #F6F8FA;
	border-radius: 5px;
	padding: 25px;
	&__header {
		display: flex;
		justify-content: center;
	}
	&__img {
		object-fit: cover;
	}
	&__title {
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 10px;
	}
	&__description {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 59px;
		min-height: 60px;
	}
	&__price {
		margin-bottom: 20px;
	}
	&__btn {
		height: 52px;
		margin-bottom: 10px;
		&:hover {
			background: #378ecc;
		}
		&--add {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}


.wrapper {
    background-color: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
	margin-bottom: 60px;
}

.container {
    max-width: 1300px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.header {
	background-color: #ffffff;
	&__navbar {
		min-height: 95px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 31px;
	}
	&__breadcrumb {
		margin-bottom: 60px;
	}
}

.nav-basket {
	display: flex;
	align-items: center;
	cursor: pointer;
	&__info {
		font-size: 12px;
		line-height: 17px;
	}
	&__icon {
		width: 28px;
		height: 25px;
		margin-right: 12px;
	}
	&__title {
		font-size: 14px;
		line-height: 21px;
	}
	&__qty {
		color: $grey_color;
	}
}

.breadcrumb {
	display: flex;
	align-items: center;
	&__item {
		font-size: 14px;
		font-weight: 400;
		margin-right: 25px;
		position: relative;
		line-height: 21px;
		color: #33374E;
		&::before {
			content: "";
			display: block;
			width: 5px;
			height: 8px;
			position: absolute;
			left: -14px;
    		top: 8px;
			background: url(../images/right.png) no-repeat center/cover;

		}
		&:first-child::before {
			display: none;
		}
		&:last-child {
			color: $grey_color;
		}
	}
}

.main {
	&__inner-basket {
		display: flex;
		width: 100%;
		@media screen and (max-width: 1090px) {
			flex-direction: column;
		}
	}
	&__basket {
		flex: 1;
		margin-right: 55px;
		@media screen and (max-width: 1090px) {
			margin-right: 0;
		}
	}
	&__coupon {
		flex: 0 0 425px;
		padding-top: 90px;
		@media screen and (max-width: 1090px) {
			padding-top: 0;
			margin-bottom: 70px;
		}
	}
	&__slider-inner {
		.slick-arrow {
			height: 50px;
			width: 50px;
			overflow: hidden;
			border: none;
			color: transparent;
			position: absolute;
			z-index: 100;
			cursor: pointer;
			@media screen and (max-width: 540px) {
				height: 35px;
				width: 35px;
			}
		}
		.slick-prev {
			background: url(../images/prev3x.png) no-repeat center/cover;
			right: 124px;
			top: -100px;
			@media screen and (max-width: 540px) {
				top: 30%;
				left: 0;
			}
		}
		.slick-next {
			background: url(../images/next3x.png) no-repeat center/cover;
			right: 10px;
    		top: -100px;
			@media screen and (max-width: 540px) {
				top: 30%;
				right: 0;
			}
		}
		.slick-slide{
			margin-left:  10px;
			margin-right:  10px;
		}

		.slick-list {
			margin-left: -10px;
			margin-right: -10px;
			pointer-events: none;
		}
	}
	&__slider-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 60px;
		@media screen and (max-width: 500px) {
			flex-direction: column;
		}
	}
	&__slider-index {
		padding-right: 73px;
		font-weight: 500;
		font-size: 24px;
		color: #212121;
		position: relative;
    	top: 7px
	}
	&__slider-length {
		color: $grey_color;
		font-size: 16px;
		font-weight: 400;
	}
}

.basket {
	&__header {
		display: flex;
		font-weight: 400;
		font-size: 18px;
		color: $grey_color;
		align-items: flex-end;
		margin-bottom: 50px;
		@media screen and (max-width: 560px) {
			flex-direction: column;
			align-items: flex-start;
		}
		
	}
	&__title {
		font-weight: 700;
		font-size: 44px;
		line-height: 53px;
		color: $main_color;
		margin-right: 22px;
		@media screen and (max-width: 375px) {
			font-size: 34px;
		}
	}
	&__qty {
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
	}
	&__clean-cart {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		margin-left: auto;
		white-space: nowrap;
		cursor: pointer;
		border-bottom: 1px solid #C4C4C4;
		@media screen and (max-width: 560px) {
			margin-left: 0;
		}
	}
	&__footer {
		display: flex;
		align-items: center;
		background: #F6F8FA;
		border-radius: 5px;
		padding: 28px 25px;
		margin-bottom: 96px;
	}
	&__input {
		display: none;
		&:checked ~ label {
			background: url(../images/mark.png) no-repeat center/cover;
		}
	}
	&__input-label {
		height: 20px;
		flex: 0 0 20px;
		border: 1px solid #797B86;
		background-color: #ffffff;
		border-radius: 2px;
		margin-right: 20px;
	}
	&__wrap-icon {
		flex: 0 0 50px;
		height: 50px;
		background: #FFFFFF;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
	}
	&__icon {
		width: 30px;
		height: 30px;
	}
	&__info-title {
		font-weight: 600;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 2px;
	}
	&__info-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 23px;
		color: $grey_color;
	}
	&__empty {
		height: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2.3rem;
	}
}

.in-basket {
	&__card {
		display: flex;
		border-bottom: 1px solid #C4C4C4;
		padding-bottom: 20px;
		margin-bottom: 30px;
		position: relative;
		&:last-child {
			border: none;
		}
	}
	&__img {
		height: 100px;
		width: 100px;
		margin-right: 31px;
		@media screen and (max-width: 425px) {
			margin-right: 5px;
		}
	}
	&__body {
		display: flex;
		align-items: center;
		@media screen and (max-width: 650px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 6px;
	}
	&__description {
		max-width: 263px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;
		color: #2C3242;
		margin-bottom: 7px;
	}
	&__shu {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: $grey_color;
	}
	&__buttons {
		margin-left: 80px;
		margin-right: 70px;
		position: relative;
		@media screen and (max-width: 650px) {
			margin: 12px 0 24px;
		}
	}
	&__btn-group {
		display: flex;
	}
	&__btn {
		width: 32px;
		height: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #F6F8FA;
		border-radius: 4px;
		font-weight: 400;
		font-size: 14px;
		margin-left: 4px;
		&--action {
			cursor: pointer;
		}
		&--add {
			color: #000000;
			margin-left: 0;
		}
		&--count {
			flex: 1;
			margin: 0 5px;
		}
		@media screen and (max-width: 650px) {
			margin-left: 0;
			margin-right: 4px;
		}
	}
	&__price {
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		font-family: 'Roboto', sans-serif;
		white-space: nowrap;
	}
	&__unit-price {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: #1F2432;
		font-family: 'Roboto', sans-serif;
		width: 100%;
		text-align: center;
		position: absolute;
		bottom: -22px;
		
	}
	&__close-btn {
		position: absolute;
		top: 3px;
		right: 3px;
		cursor: pointer;
	}
	&__close-icon{
		width: 12px;
		height: 12px;
		
	}
}

.coupon {
	&__inner {
		background: #F6F8FA;
		border-radius: 5px;
		padding: 35px 30px;
	}
	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 31px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;
		margin-bottom: 18px;
		&--subtitle {
			border-top: 1px solid #AEB0B6;
			padding-top: 16px;
			margin-top: 13px;
			margin-bottom: 32px;
		}
	}
	&__text {
		font-weight: 500;
		line-height: 23px;
		&--total {
			font-weight: 600;
			font-size: 18px;
			line-height: 26px;
		}
	}
	&__value {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		line-height: 23px;
		&--total {
			font-weight: 700;
			font-size: 26px;
			line-height: 33px;
		}
	}
	
	&__btn {
		margin-top: 12px;
		&:hover {
			background: #378ecc;
		}
	}
	
}







//testing


// .slick-slider{
//   -webkit-user-select: auto;
//   -moz-user-select: auto;
//   -ms-user-select: auto;
//   user-select: auto;
// }
//     .slick-slider .slick-list {
//        -webkit-transform: none !important;
//        -moz-transform: none !important;
//        -ms-transform: none !important;
//        -o-transform: none !important;
//        transform: none !important;
//      }

//      .slider {
//         z-index: 1;
//      }

// 	 .btn.card__btn {
// 		position: relative;
//        z-index: 9999;
// 	 }